**/.terraform/*
.terraform/*

terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*

crash.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfplan

.DS_Store

.terraformrc
.terraform.d/
provider.tf
